<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- for ASP.NET Core users -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- define various log targets -->
  <targets>
    <!-- General logging, everything is dumped in here -->
    <target xsi:type="File" name="GeneralLogs" fileName="c:\temp\GeneralLogs-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />

    <!-- HomegearXMLRPCService logging target -->
    <target xsi:type="File" name="HomegearXMLRPCService" fileName="c:\temp\HomegearXMLRPCService-${shortdate}.log"
            layout="${longdate}|${uppercase:${level}}|  ${message} ${exception}" />

    <target xsi:type="Null" name="blackhole" />
  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->

    <!--Dump all the Microsoft logs into the blackhole, we don't need them for now-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    
    <!-- Gathers all the logs in the application and dumps them to the GeneralLogs target -->
    <logger name="*" minlevel="Trace" writeTo="GeneralLogs" />
    <!--Gathers logs about the HomegearXMLRPCService-->
    <logger name="HomegearXMLRPCService.*" minlevel="Trace" writeTo="HomegearXMLRPCService" />
  </rules>
</nlog>